<div *ngIf=goToH.redirectHome class="noPadding">
       
    <div class=".container-fluid">  <!--Page resizes to fit size of window-->
        <div style="padding:7%"><!--Spce holder to Center The button and logo!-->

        </div>
        <div id="centered">
            <img src="assets/images/logo.png">
       </div> 
        <div id="centered" style="padding:60px 0px 60px 40px">
             <button class="button" (click)="goToChartPage()"><h1 style="-webkit-margin-before:0px;-webkit-margin-after:0px"><b>Plot Now!</b></h1></button>
        </div>         
    </div>
</div>
<!--onclick="location.href='http://google.com'"-->